<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>Fidesio</title>

		<link
		rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

		<!-- Bootstrap core CSS -->
		<link
		href="../../dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="starter-template.css" rel="stylesheet">
	</head>

	<body>
		<main role="main" class="container">
			<div class="starter-template">
				<p class="lead"><br>
					PoweredBY FIDESIO.
				</p>
			</div>
			<p class="lead text-muted">Question 1 : Installation de la dernière LTS de Symfony
			</p>
			<p>
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionOneModal">
					Response
				</button>
			</p>
			<!-- Modal a mettre dans un fichier séparé -->
			<div class="modal fade" id="questionOneModal" tabindex="-1" role="dialog" aria-labelledby="questionOneModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="questionOneModalLabel">Reponse question</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<code>
								php bin/console --version Symfony 4.4.11 (env: dev, debug: true)
							</code>
							<p>
								Symfony 4.4
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								Status:
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								Maintained
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								Released:
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								November 2019
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								End of bug fixes:
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								November 2022
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								End of security fixes:
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								November 2023</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<!-- Modal a mettre dans un fichier séparé -->
			<div class="modal fade" id="questionTwoModal" tabindex="-1" role="dialog" aria-labelledby="questionTwoModalLabe2" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="questionOneModalLabel">Reponse question</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="container">
								<ul class="list-group list-group-flush">
									<li class="list-group-item">Run local server PHP/Mysql</li>
									<li class="list-group-item">Get the source code, and execute the several command line.<br>
										Step 1:composer install<br>
										Step 2:bin/console doctrine:database:create<br>
										Step 3:bin/console doctrine:migrations:migrate</li>
									<li class="list-group-item">Go to http://localhost/phpmyadmin (db : fidesiobh, configured in the envfile)</li>
								</ul>
							</li>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<p class="lead text-muted">Question 2 : Création du schéma de la base de données selon le jeu de données (.csv)</p>
		<p>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionTwoModal">
				Response
			</button>
		</p>
		<p class="lead text-muted">Question 3 : Créer une commande qui importe les données du CSV dans la base de données</p>
		<p>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionThreModal">
				Response
			</button>
		</p>

		<!-- Modal -->
		<div class="modal fade" id="questionThreModal" style="background-color: #8FAACF !important;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Code source</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning" role="alert">
							To test code:<br>
							1. validae the step before :)
							<br>
							2. Run (project directory) : php bin/console import:csv
							<br>
						</div>
						<pre>
						<code>
							<? $str = <<<'EOD'
							<!-- your code here -->
							

						namespace App\Command;

						use Symfony\Bundle\FrameworkBundle\Command\ContainerAwareCommand;
						use Symfony\Component\Console\Command\Command;
						use Symfony\Component\Console\Input\InputInterface;
						use Symfony\Component\Console\Output\OutputInterface;
						use Symfony\Component\Console\Helper\ProgressBar;
						use Symfony\Component\Validator\Constraints\DateTime;

						use App\Entity\Fullfidesio;
						use App\Entity\Correspondance;
						use App\Entity\ModeTransport;
						use App\Entity\Station;
						use App\Entity\Terminus;

						class ImportDataCommand extends ContainerAwareCommand
						{

							protected function configure()
							{
								// The name and description for the command in app/command
								$this->setName('import:csv')
									->setDescription('Import data from CSV file');
							}

							protected function execute(InputInterface $input, OutputInterface $output)
							{
								// Showing when the script is launched
								$now = new \DateTime();
								$output->writeln('<comment>Start : ' . $now->format('d-m-Y G:i:s') . ' ---</comment>');

								// Importing CSV on DB via Doctrine ORM
								$Fullfidesio = new Fullfidesio();
								$this->importFile($input, $output, 'public/data/exports-des-gares-idf.csv', $Fullfidesio);



								// Showing when the script is over
								$now = new \DateTime();
								$output->writeln('<comment>End : ' . $now->format('d-m-Y G:i:s') . ' ---</comment>');
							}

							protected function importFile(InputInterface $input, OutputInterface $output, $filename, $obj)
							{
								// Getting doctrine manager
								$em = $this->getContainer()->get('doctrine')->getManager();
								// Turning off doctrine default logs queries for saving memory (for big files)
								$em->getConnection()->getConfiguration()->setSQLLogger(null);
								// Getting php array of data from CSV
								$dataArray = $this->convert($filename);

								// Define the size of record, the frequency for persisting the data and the current index of records
								$size = count($dataArray);
								$batchSize = 1000;
								$i = 1;

								// Starting progress
								$progress = new ProgressBar($output, $size);
								$progress->start();

								// Processing on each row of data
								foreach ($dataArray as $row) {
									$this->setData($row, $obj);
									// Each 1000 entries persisted we flush everything
									if (($i % $batchSize) === 0) {
										$em->flush();
										// Detaches all entries from Doctrine for memory save
										$em->clear();
									}
									$i++;
								}

								// Flushing and clear data on queue
								$em->flush();
								$em->clear();

								// Ending the progress bar process
								$now = new \DateTime();
								$progress->advance($size);
								$output->writeln($now->format('d-m-Y G:i:s'));
								$progress->finish();
							}

							public function setData($row, $obj)
							{
								$em = $this->getContainer()->get('doctrine')->getManager();
								if ($obj instanceof Fullfidesio) {

									// Check the existance of the transport
									// In the script we suppose that we are only working on Metro station
									$transport = $em->getRepository(ModeTransport::class)
										->findOneBy(
											[
												'typeTransport' => 'Metro',
												'ligne' => $row['ligne']
											]
										);

									if (!$transport) {
										$transport = new ModeTransport();
										$transport->setTypeTransport('Metro')
											->setLigne($row['ligne']);
										$em->persist($transport);
									}

									//Check the existance of the station
									$station = $em->getRepository(Station::class)
										->findOneBy(
											['garesid' => $row['gares_id']]
										);

									if (!$station) {
										$station = new station();
										$station->setNomGare($row['nom_gare']);
										$station->setNomlong($row['nomlong']);
										$station->setNomIv($row['nom_iv']);
										$station->setGaresid($row['gares_id']);
										$station->addModeTransport($transport);
										// Turning off doctrine default logs queries for saving memory (for big files)
										$em->getConnection()->getConfiguration()->setSQLLogger(null);

										$em->persist($station);

										//Add Terminus 
										if ($row['ter' . strtolower($row['mode_'])] != '0') {
											$TerminusObject = new Terminus();
											$TerminusObject->addStation($station);
											$TerminusObject->addModeTransport($transport);

											$em->persist($TerminusObject);
										}

										//Add correspondance
										$correspondance = new Correspondance();
										$correspondance->setModeTransport($transport);
										$correspondance->setStation($station);
										$em->persist($correspondance);
									}
								}
							}


							public function convert($filename, $delimiter = ';')
							{
								// Check if the file exist and is readable
								if (!file_exists($filename) || !is_readable($filename)) {
									return false;
								}

								// Initialize arrays
								$header = NULL;
								$data = array();

								// Parse the csv file
								if (($handle = fopen($filename, 'r')) !== FALSE) {
									while (($row = fgetcsv($handle, 1000, $delimiter)) !== FALSE) {

										// Get the 1st line to set the names for each field
										if (!$header) {
											$header = $row;
										} else {
											$data[] = array_combine($header, $row);
										}
									}

									// Close the file
									fclose($handle);
								}
								return $data;
							}
						}

						</code>
						</pre>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html></p><p class="lead text-muted">Question 4 : Afficher une liste des stations RATP avec une possibilité de les 
									filtrer par ligne de métro. ( bis) la liste doit contenir le nom de la gare, n° de ligne, ainsi qu'une colonne indiquant s'il existe une correspondance ou un terminus)</p><p>
<a href="/questions/4" class="btn btn-primary my-2">Response</a></p><p class="lead text-muted">
Question 5 :Utiliser git pour le versionning de développements.</p><p>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fifthquestionModal">
	Response
</button>

<!-- Modal -->
<div class="modal fade" id="fifthquestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Reponse question/h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Commands used during the realisation of the test:<br>
					- echo "# fidesio" >> README.md<br>
					- git init<br>
					- git add README.md<br>
					- git commit -m "first commit"<br>
					- git branch -M master<br>
					- git remote add origin https://github.com/personnel/fidesio.git (privé)<br>
					- git push -u origin master<br>

					- git amend<br>
					- git rebase -i #commit-code<br>

					- git pull<br>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</p></p></main><!-- /.container --><!-- Bootstrap core JavaScript================================================== --><!-- Placed at the end of the document so the pages load faster --><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"> </script><script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script><!-- Optional JavaScript --><!-- jQuery first, then Popper.js, then Bootstrap JS --><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script></body></body></html></body></html>
